openapi: 3.0.3
info:
  title: FML Runner API
  description: |
    FHIR Mapping Language (FML) Runner API for compiling FML content to StructureMaps 
    and executing transformations on healthcare data.
    
    This API provides core functionality for:
    - Compiling FML files to FHIR StructureMap resources
    - Executing StructureMaps on source data to perform transformations
    - Managing and retrieving StructureMaps with FHIR-compliant CRUD operations
    - Basic health checking and performance monitoring
  version: 1.0.0
  contact:
    name: FML Runner Support
    url: https://github.com/litlfred/fmlrunner
    email: support@fmlrunner.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.fmlrunner.org/v1
    description: Production server
  - url: https://staging-api.fmlrunner.org/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Local development server

paths:
  /compile:
    post:
      summary: Compile FML to StructureMap
      description: |
        Compiles FHIR Mapping Language (FML) content into a FHIR StructureMap resource.
        The compilation process includes parsing, validation, and optimization.
      operationId: compileFML
      tags:
        - Compilation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompilationRequest'
            examples:
              simple_mapping:
                summary: Simple Patient mapping
                value:
                  content: |
                    map "PatientTransform" = "http://example.org/fml/PatientTransform"
                    
                    uses "http://hl7.org/fhir/StructureDefinition/Patient" as source
                    uses "http://hl7.org/fhir/StructureDefinition/Patient" as target
                    
                    group Patient(source src, target tgt) {
                      src.name -> tgt.name;
                      src.birthDate -> tgt.birthDate;
                    }
                  options:
                    fhirVersion: "R4"
                    strictMode: true
          text/plain:
            schema:
              type: string
              description: Raw FML content
            example: |
              map "PatientTransform" = "http://example.org/fml/PatientTransform"
              
              uses "http://hl7.org/fhir/StructureDefinition/Patient" as source
              uses "http://hl7.org/fhir/StructureDefinition/Patient" as target
              
              group Patient(source src, target tgt) {
                src.name -> tgt.name;
                src.birthDate -> tgt.birthDate;
              }
      responses:
        '200':
          description: Compilation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureMap'
              examples:
                compiled_structure_map:
                  summary: Compiled StructureMap
                  value:
                    resourceType: "StructureMap"
                    id: "PatientTransform"
                    url: "http://example.org/fml/PatientTransform"
                    version: "1.0.0"
                    name: "PatientTransform"
                    status: "active"
                    structure:
                      - url: "http://hl7.org/fhir/StructureDefinition/Patient"
                        mode: "source"
                        alias: "src"
                      - url: "http://hl7.org/fhir/StructureDefinition/Patient"
                        mode: "target"
                        alias: "tgt"
                    group:
                      - name: "Patient"
                        typeMode: "none"
                        input:
                          - name: "src"
                            mode: "source"
                          - name: "tgt"
                            mode: "target"
                        rule:
                          - name: "name"
                            source:
                              - context: "src"
                                element: "name"
                            target:
                              - context: "tgt"
                                element: "name"
                          - name: "birthDate"
                            source:
                              - context: "src"
                                element: "birthDate"
                            target:
                              - context: "tgt"
                                element: "birthDate"
        '400':
          description: Compilation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                syntax_error:
                  summary: FML Syntax Error
                  value:
                    error: "COMPILATION_ERROR"
                    message: "Syntax error in FML content"
                    details:
                      line: 5
                      column: 12
                      expected: ";"
                      actual: "{"
                    timestamp: "2024-01-15T10:30:00Z"
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /validate:
    post:
      summary: Validate FML content
      description: |
        Validates FHIR Mapping Language (FML) content without performing compilation.
        Returns validation results including any syntax or semantic errors.
      operationId: validateFML
      tags:
        - Validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
      responses:
        '200':
          description: Validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
              examples:
                valid_fml:
                  summary: Valid FML content
                  value:
                    isValid: true
                    errors: []
                    warnings: []
                invalid_fml:
                  summary: Invalid FML content
                  value:
                    isValid: false
                    errors:
                      - type: "SYNTAX_ERROR"
                        message: "Missing semicolon"
                        line: 5
                        column: 12
                    warnings:
                      - type: "STYLE_WARNING"
                        message: "Consider using more descriptive variable names"
                        line: 3
                        column: 8

  /execute:
    post:
      summary: Execute StructureMap transformation
      description: |
        Executes a StructureMap transformation on the provided source data.
        Returns the transformed result according to the mapping rules.
      operationId: executeStructureMap
      tags:
        - Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
            examples:
              patient_transformation:
                summary: Patient data transformation
                value:
                  structureMap:
                    resourceType: "StructureMap"
                    id: "PatientTransform"
                    url: "http://example.org/fml/PatientTransform"
                    status: "active"
                    group:
                      - name: "Patient"
                        rule:
                          - name: "name"
                            source:
                              - context: "src"
                                element: "name"
                            target:
                              - context: "tgt"
                                element: "name"
                  sourceData:
                    resourceType: "Patient"
                    name:
                      - family: "Doe"
                        given: ["John"]
                    birthDate: "1990-01-01"
                  context:
                    variables:
                      organization: "Example Hospital"
      responses:
        '200':
          description: Execution successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
              examples:
                successful_execution:
                  summary: Successful transformation
                  value:
                    result:
                      resourceType: "Patient"
                      name:
                        - family: "Doe"
                          given: ["John"]
                      birthDate: "1990-01-01"
                    logs:
                      - level: "INFO"
                        message: "Transformation completed successfully"
                        timestamp: "2024-01-15T10:30:00Z"
                    performance:
                      executionTime: 45
                      memoryUsed: 1024
                      cacheHit: true
        '400':
          description: Execution error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /execute/{structureMapId}:
    post:
      summary: Execute StructureMap by ID
      description: |
        Executes a StructureMap transformation using a StructureMap identified by ID.
        The StructureMap is retrieved from configured sources before execution.
      operationId: executeStructureMapById
      tags:
        - Execution
      parameters:
        - name: structureMapId
          in: path
          required: true
          schema:
            type: string
          description: StructureMap identifier
          example: "PatientTransform"
        - name: source
          in: query
          schema:
            type: string
            enum: [directory, url, cache]
            default: cache
          description: Source to retrieve StructureMap from
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionByIdRequest'
      responses:
        '200':
          description: Execution successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '404':
          description: StructureMap not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StructureMaps/$transform:
    post:
      summary: Transform content using StructureMap
      description: |
        FHIR $transform operation for transforming content using a StructureMap.
        This operation follows the FHIR standard operation pattern as defined at:
        https://build.fhir.org/structuremap-operation-transform.html
        
        The operation takes input content and transforms it using the specified StructureMap.
      operationId: transformContent
      tags:
        - FHIR Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransformRequest'
            examples:
              patient_transform:
                summary: Transform patient data
                value:
                  resourceType: "Parameters"
                  parameter:
                    - name: "source"
                      resource:
                        resourceType: "Patient"
                        name:
                          - family: "Doe"
                            given: ["John"]
                        birthDate: "1990-01-01"
                    - name: "map"
                      valueUri: "http://example.org/fml/PatientTransform"
      responses:
        '200':
          description: Transformation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformResponse'
              examples:
                successful_transform:
                  summary: Successful transformation result
                  value:
                    resourceType: "Parameters"
                    parameter:
                      - name: "return"
                        resource:
                          resourceType: "Patient"
                          name:
                            - family: "Doe"
                              given: ["John"]
                          birthDate: "1990-01-01"
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: StructureMap not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Transformation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StructureDefinitions:
    get:
      summary: List available StructureDefinitions
      description: |
        Returns a list of available StructureDefinitions (logical models, profiles, extensions)
        from the specified source. Supports filtering and pagination for large collections.
        Compatible with FHIR search operations.
      operationId: listStructureDefinitions
      tags:
        - StructureDefinition Management
      parameters:
        - name: _count
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of results to return (FHIR standard)
        - name: _offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip (FHIR standard)
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: The StructureDefinition publication date
        - name: description
          in: query
          schema:
            type: string
          description: The description of the StructureDefinition
        - name: identifier
          in: query
          schema:
            type: string
          description: External identifier for the StructureDefinition
        - name: jurisdiction
          in: query
          schema:
            type: string
          description: Intended jurisdiction for the StructureDefinition
        - name: name
          in: query
          schema:
            type: string
          description: Computationally friendly name of the StructureDefinition
        - name: publisher
          in: query
          schema:
            type: string
          description: Name of the publisher of the StructureDefinition
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, retired, unknown]
          description: The current status of the StructureDefinition
        - name: title
          in: query
          schema:
            type: string
          description: The human-friendly name of the StructureDefinition
        - name: url
          in: query
          schema:
            type: string
          description: The uri that identifies the StructureDefinition
        - name: version
          in: query
          schema:
            type: string
          description: The business version of the StructureDefinition
        - name: kind
          in: query
          schema:
            type: string
            enum: [primitive-type, complex-type, resource, logical]
          description: The kind of structure definition
        - name: type
          in: query
          schema:
            type: string
          description: The type defined or constrained by this structure
      responses:
        '200':
          description: List of StructureDefinitions
          content:
            application/json:
              schema:
                type: object
                properties:
                  structureDefinitions:
                    type: array
                    items:
                      $ref: '#/components/schemas/StructureDefinitionInfo'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
        '400':
          description: Invalid search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create new StructureDefinition
      description: |
        Creates a new StructureDefinition resource with server-assigned ID.
        Compatible with FHIR create operation (POST).
        The StructureDefinition can be uploaded as JSON with optional validation.
      operationId: createStructureDefinition
      tags:
        - StructureDefinition Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/StructureDefinition'
                - $ref: '#/components/schemas/StructureDefinitionUploadRequest'
            examples:
              logical_model:
                summary: Upload logical model StructureDefinition
                value:
                  resourceType: "StructureDefinition"
                  url: "http://example.org/fhir/StructureDefinition/PatientLogicalModel"
                  version: "1.0.0"
                  name: "PatientLogicalModel"
                  title: "Patient Logical Model"
                  status: "active"
                  kind: "logical"
                  abstract: false
                  type: "http://example.org/fhir/StructureDefinition/PatientLogicalModel"
                  differential:
                    element:
                      - path: "Patient"
                        definition: "A patient logical model"
                      - path: "Patient.identifier"
                        min: 1
                        max: "*"
                        type:
                          - code: "Identifier"
              with_validation:
                summary: Upload with validation options
                value:
                  type: "structureDefinition"
                  content:
                    resourceType: "StructureDefinition"
                    url: "http://example.org/fhir/StructureDefinition/PatientLogicalModel"
                    name: "PatientLogicalModel"
                    status: "active"
                    kind: "logical"
                    abstract: false
                    type: "http://example.org/fhir/StructureDefinition/PatientLogicalModel"
                  options:
                    validate: true
                    strictMode: false
                  metadata:
                    description: "Patient logical model for validation"
                    author: "FHIR Team"
                    experimental: true
      responses:
        '201':
          description: StructureDefinition created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created StructureDefinition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureDefinitionCreateResponse'
        '400':
          description: Invalid request or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: StructureDefinition with same URL already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StructureDefinitions/{id}:
    get:
      summary: Retrieve StructureDefinition by ID
      description: |
        Retrieves a specific StructureDefinition by its identifier.
        Compatible with FHIR read operation.
      operationId: getStructureDefinitionById
      tags:
        - StructureDefinition Management
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: StructureDefinition identifier
          example: "PatientLogicalModel"
        - name: includeMetadata
          in: query
          schema:
            type: boolean
            default: false
          description: Include metadata about retrieval source and validation
      responses:
        '200':
          description: StructureDefinition retrieved successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/StructureDefinition'
                  - $ref: '#/components/schemas/StructureDefinitionWithMetadata'
        '404':
          description: StructureDefinition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Create or update StructureDefinition
      description: |
        Creates a new StructureDefinition or updates an existing one with the specified ID.
        Compatible with FHIR update operation (PUT).
        Supports validation with strict and non-strict modes.
      operationId: createOrUpdateStructureDefinition
      tags:
        - StructureDefinition Management
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: StructureDefinition identifier
          example: "PatientLogicalModel"
        - name: upsert
          in: query
          schema:
            type: boolean
            default: true
          description: Whether to create if not exists (true) or only update existing (false)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/StructureDefinition'
                - $ref: '#/components/schemas/StructureDefinitionUploadRequest'
      responses:
        '200':
          description: StructureDefinition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureDefinitionUpdateResponse'
        '201':
          description: StructureDefinition created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created StructureDefinition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureDefinitionCreateResponse'
        '400':
          description: Invalid request or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: StructureDefinition not found (when upsert=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete StructureDefinition
      description: |
        Deletes a StructureDefinition by its identifier.
        Compatible with FHIR delete operation.
      operationId: deleteStructureDefinition
      tags:
        - StructureDefinition Management
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: StructureDefinition identifier
          example: "PatientLogicalModel"
        - name: cascade
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to cascade delete related resources
      responses:
        '200':
          description: StructureDefinition deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "StructureDefinition 'PatientLogicalModel' deleted successfully"
                  deletedAt:
                    type: string
                    format: date-time
                  cascadedDeletes:
                    type: array
                    items:
                      type: string
                    description: List of related resources that were also deleted
        '404':
          description: StructureDefinition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: StructureDefinition is in use and cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /validate:
    post:
      summary: Validate FHIR resource or data
      description: |
        Validates FHIR resources or data against StructureDefinitions with support for
        strict and non-strict validation modes. Can validate against logical models
        and standard FHIR profiles.
      operationId: validateResource
      tags:
        - Validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceValidationRequest'
            examples:
              patient_validation:
                summary: Validate Patient resource
                value:
                  resource:
                    resourceType: "Patient"
                    id: "example"
                    name:
                      - family: "Doe"
                        given: ["John"]
                    birthDate: "1990-01-01"
                  structureDefinition: "http://hl7.org/fhir/StructureDefinition/Patient"
                  options:
                    mode: "strict"
                    validateReferences: false
                    maxErrors: 10
              logical_model_validation:
                summary: Validate against logical model
                value:
                  resource:
                    patientId: "12345"
                    name: "John Doe"
                    birthDate: "1990-01-01"
                  structureDefinition: "http://example.org/fhir/StructureDefinition/PatientLogicalModel"
                  options:
                    mode: "non-strict"
                    validateReferences: false
                    maxErrors: 5
      responses:
        '200':
          description: Validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceValidationResult'
              examples:
                valid_resource:
                  summary: Valid resource
                  value:
                    isValid: true
                    errors: []
                    warnings: []
                    validationMode: "strict"
                    structureDefinition: "http://hl7.org/fhir/StructureDefinition/Patient"
                    validatedAt: "2024-01-15T10:30:00Z"
                invalid_resource:
                  summary: Invalid resource
                  value:
                    isValid: false
                    errors:
                      - type: "CARDINALITY_VIOLATION"
                        message: "Element 'Patient.name' has minimum cardinality 1 but found 0"
                        path: "Patient.name"
                        severity: "error"
                    warnings:
                      - type: "OPTIONAL_ELEMENT_MISSING"
                        message: "Recommended element 'Patient.telecom' is missing"
                        path: "Patient.telecom"
                        severity: "warning"
                    validationMode: "strict"
                    structureDefinition: "http://hl7.org/fhir/StructureDefinition/Patient"
                    validatedAt: "2024-01-15T10:30:00Z"
        '400':
          description: Invalid validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: StructureDefinition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /execute-with-validation:
    post:
      summary: Execute StructureMap with validation
      description: |
        Executes a StructureMap transformation with input and output validation
        against specified StructureDefinitions. Supports strict and non-strict
        execution modes.
      operationId: executeWithValidation
      tags:
        - Execution
        - Validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidatedExecutionRequest'
            examples:
              patient_transformation_strict:
                summary: Patient transformation with strict validation
                value:
                  structureMap:
                    resourceType: "StructureMap"
                    id: "PatientTransform"
                    url: "http://example.org/fml/PatientTransform"
                    status: "active"
                  sourceData:
                    resourceType: "Patient"
                    name:
                      - family: "Doe"
                        given: ["John"]
                    birthDate: "1990-01-01"
                  options:
                    mode: "strict"
                    validateInput: true
                    validateOutput: true
                    inputStructureDefinition: "http://hl7.org/fhir/StructureDefinition/Patient"
                    outputStructureDefinition: "http://hl7.org/fhir/StructureDefinition/Patient"
                    stopOnError: true
                    maxErrors: 10
              logical_model_transformation:
                summary: Logical model transformation with non-strict validation
                value:
                  structureMap:
                    resourceType: "StructureMap"
                    id: "LogicalModelTransform"
                    url: "http://example.org/fml/LogicalModelTransform"
                    status: "active"
                  sourceData:
                    patientId: "12345"
                    name: "John Doe"
                    birthDate: "1990-01-01"
                  options:
                    mode: "non-strict"
                    validateInput: true
                    validateOutput: true
                    inputStructureDefinition: "http://example.org/fhir/StructureDefinition/PatientLogicalModel"
                    outputStructureDefinition: "http://hl7.org/fhir/StructureDefinition/Patient"
                    stopOnError: false
                    maxErrors: 5
      responses:
        '200':
          description: Execution completed (may include validation errors in non-strict mode)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatedExecutionResponse'
              examples:
                successful_execution:
                  summary: Successful transformation with validation
                  value:
                    result:
                      resourceType: "Patient"
                      name:
                        - family: "Doe"
                          given: ["John"]
                      birthDate: "1990-01-01"
                    isSuccess: true
                    validationResult:
                      input:
                        isValid: true
                        errors: []
                        warnings: []
                      output:
                        isValid: true
                        errors: []
                        warnings: []
                    errors: []
                    warnings: []
                    logs:
                      - level: "INFO"
                        message: "Input validation passed"
                        timestamp: "2024-01-15T10:30:00Z"
                      - level: "INFO"
                        message: "Transformation completed successfully"
                        timestamp: "2024-01-15T10:30:01Z"
                      - level: "INFO"
                        message: "Output validation passed"
                        timestamp: "2024-01-15T10:30:02Z"
                    performance:
                      executionTime: 150
                      memoryUsed: 2048
                      validationTime: 45
                      transformationCount: 1
                failed_validation:
                  summary: Execution with validation errors in strict mode
                  value:
                    result: null
                    isSuccess: false
                    validationResult:
                      input:
                        isValid: false
                        errors:
                          - type: "REQUIRED_ELEMENT_MISSING"
                            message: "Required element 'Patient.identifier' is missing"
                            path: "Patient.identifier"
                            severity: "error"
                        warnings: []
                    errors:
                      - code: "INPUT_VALIDATION_FAILED"
                        message: "Input validation failed in strict mode"
                        path: ""
                        value: null
                    warnings: []
                    logs:
                      - level: "ERROR"
                        message: "Input validation failed"
                        timestamp: "2024-01-15T10:30:00Z"
                    performance:
                      executionTime: 25
                      memoryUsed: 1024
                      validationTime: 20
                      transformationCount: 0
        '400':
          description: Invalid execution request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: StructureMap or StructureDefinition not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StructureMaps:
    get:
      summary: List available StructureMaps
      description: |
        Returns a list of available StructureMaps from the specified source.
        Supports filtering and pagination for large collections.
        Compatible with FHIR search operations.
      operationId: listStructureMaps
      tags:
        - StructureMap Management
      parameters:
        - name: _count
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of results to return (FHIR standard)
        - name: _offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of results to skip (FHIR standard)
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: The StructureMap publication date
        - name: description
          in: query
          schema:
            type: string
          description: The description of the StructureMap
        - name: identifier
          in: query
          schema:
            type: string
          description: External identifier for the StructureMap
        - name: jurisdiction
          in: query
          schema:
            type: string
          description: Intended jurisdiction for the StructureMap
        - name: name
          in: query
          schema:
            type: string
          description: Computationally friendly name of the StructureMap
        - name: publisher
          in: query
          schema:
            type: string
          description: Name of the publisher of the StructureMap
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, retired, unknown]
          description: The current status of the StructureMap
        - name: title
          in: query
          schema:
            type: string
          description: The human-friendly name of the StructureMap
        - name: url
          in: query
          schema:
            type: string
          description: The uri that identifies the StructureMap
        - name: version
          in: query
          schema:
            type: string
          description: The business version of the StructureMap
      responses:
        '200':
          description: List of StructureMaps
          content:
            application/json:
              schema:
                type: object
                properties:
                  structureMaps:
                    type: array
                    items:
                      $ref: '#/components/schemas/StructureMapInfo'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
              examples:
                structure_map_list:
                  summary: Available StructureMaps
                  value:
                    structureMaps:
                      - id: "PatientTransform"
                        url: "http://example.org/fml/PatientTransform"
                        name: "Patient Transform"
                        version: "1.0.0"
                        status: "active"
                        source: "directory"
                        lastModified: "2024-01-15T10:30:00Z"
                      - id: "ObservationTransform"
                        url: "http://example.org/fml/ObservationTransform"
                        name: "Observation Transform"
                        version: "2.1.0"
                        status: "active"
                        source: "url"
                        lastModified: "2024-01-14T15:45:00Z"
                    pagination:
                      total: 25
                      limit: 20
                      offset: 0
                      hasMore: true
    post:
      summary: Create new StructureMap
      description: |
        Creates a new StructureMap resource with server-assigned ID.
        Compatible with FHIR create operation (POST).
        The StructureMap can be uploaded as compiled JSON or FML source that will be compiled.
      operationId: createStructureMap
      tags:
        - StructureMap Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/StructureMap'
                - $ref: '#/components/schemas/FMLUploadRequest'
            examples:
              structure_map_json:
                summary: Upload compiled StructureMap JSON
                value:
                  resourceType: "StructureMap"
                  url: "http://example.org/fml/PatientTransform"
                  version: "1.0.0"
                  name: "PatientTransform"
                  status: "active"
                  structure:
                    - url: "http://hl7.org/fhir/StructureDefinition/Patient"
                      mode: "source"
                      alias: "src"
                  group:
                    - name: "Patient"
                      input:
                        - name: "src"
                          mode: "source"
              fml_source:
                summary: Upload FML source for compilation
                value:
                  type: "fml"
                  content: |
                    map "PatientTransform" = "http://example.org/fml/PatientTransform"
                    uses "http://hl7.org/fhir/StructureDefinition/Patient" as source
                    group Patient(source src, target tgt) {
                      src.name -> tgt.name;
                    }
                  options:
                    fhirVersion: "R4"
                    strictMode: true
          text/plain:
            schema:
              type: string
              description: FML source content
      responses:
        '201':
          description: StructureMap created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created StructureMap
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureMapCreateResponse'
        '400':
          description: Invalid request or compilation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: StructureMap with same URL already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StructureMaps/{id}:
    get:
      summary: Retrieve StructureMap by ID
      description: |
        Retrieves a specific StructureMap by its identifier.
        The StructureMap is retrieved from configured sources.
        Compatible with FHIR read operation.
      operationId: getStructureMapById
      tags:
        - StructureMap Management
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: StructureMap identifier
          example: "PatientTransform"
        - name: source
          in: query
          schema:
            type: string
            enum: [directory, url, cache]
          description: Preferred source for retrieval
        - name: includeMetadata
          in: query
          schema:
            type: boolean
            default: false
          description: Include metadata about retrieval source and caching
      responses:
        '200':
          description: StructureMap retrieved successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/StructureMap'
                  - $ref: '#/components/schemas/StructureMapWithMetadata'
        '404':
          description: StructureMap not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Create or update StructureMap
      description: |
        Creates a new StructureMap or updates an existing one with the specified ID.
        Compatible with FHIR update operation (PUT).
        Supports both compiled StructureMap JSON and FML source compilation.
      operationId: createOrUpdateStructureMap
      tags:
        - StructureMap Management
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: StructureMap identifier
          example: "PatientTransform"
        - name: upsert
          in: query
          schema:
            type: boolean
            default: true
          description: Whether to create if not exists (true) or only update existing (false)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/StructureMap'
                - $ref: '#/components/schemas/FMLUploadRequest'
            examples:
              structure_map_json:
                summary: Upload compiled StructureMap JSON
                value:
                  resourceType: "StructureMap"
                  id: "PatientTransform"
                  url: "http://example.org/fml/PatientTransform"
                  version: "1.0.0"
                  name: "PatientTransform"
                  status: "active"
                  structure:
                    - url: "http://hl7.org/fhir/StructureDefinition/Patient"
                      mode: "source"
                      alias: "src"
                  group:
                    - name: "Patient"
                      input:
                        - name: "src"
                          mode: "source"
              fml_source:
                summary: Upload FML source for compilation
                value:
                  type: "fml"
                  content: |
                    map "PatientTransform" = "http://example.org/fml/PatientTransform"
                    uses "http://hl7.org/fhir/StructureDefinition/Patient" as source
                    group Patient(source src, target tgt) {
                      src.name -> tgt.name;
                    }
                  options:
                    fhirVersion: "R4"
                    strictMode: true
          text/plain:
            schema:
              type: string
              description: FML source content
      responses:
        '200':
          description: StructureMap updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureMapUpdateResponse'
        '201':
          description: StructureMap created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created StructureMap
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructureMapCreateResponse'
        '400':
          description: Invalid request or compilation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: StructureMap not found (when upsert=false)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete StructureMap
      description: |
        Deletes a StructureMap by its identifier.
        Compatible with FHIR delete operation.
        Removes the StructureMap from all configured storage sources.
      operationId: deleteStructureMap
      tags:
        - StructureMap Management
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: StructureMap identifier
          example: "PatientTransform"
        - name: cascade
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to cascade delete related resources
      responses:
        '200':
          description: StructureMap deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "StructureMap 'PatientTransform' deleted successfully"
                  deletedAt:
                    type: string
                    format: date-time
                  cascadedDeletes:
                    type: array
                    items:
                      type: string
                    description: List of related resources that were also deleted
        '404':
          description: StructureMap not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: StructureMap is in use and cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health:
    get:
      summary: Health check
      description: |
        Returns the health status of the FML Runner service.
        Used for basic health monitoring and load balancer checks.
      operationId: healthCheck
      tags:
        - Monitoring
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
              examples:
                healthy:
                  summary: Healthy service
                  value:
                    status: "healthy"
                    timestamp: "2024-01-15T10:30:00Z"
                    version: "1.0.0"
                    uptime: 86400
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /health/ready:
    get:
      summary: Readiness check
      description: |
        Returns the readiness status of the service.
        Used for Kubernetes readiness probes and deployment verification.
      operationId: readinessCheck
      tags:
        - Monitoring
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessStatus'
        '503':
          description: Service is not ready

  /health/live:
    get:
      summary: Liveness check
      description: |
        Returns the liveness status of the service.
        Used for Kubernetes liveness probes and restart decisions.
      operationId: livenessCheck
      tags:
        - Monitoring
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LivenessStatus'
        '503':
          description: Service is not responding

  /metrics:
    get:
      summary: Performance metrics
      description: |
        Returns performance metrics in Prometheus format.
        Used for monitoring and alerting systems.
      operationId: getMetrics
      tags:
        - Monitoring
      responses:
        '200':
          description: Metrics data
          content:
            text/plain:
              schema:
                type: string
                description: Prometheus-formatted metrics
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'



components:
  schemas:
    FMLUploadRequest:
      type: object
      required:
        - type
        - content
      properties:
        type:
          type: string
          enum: [fml]
          description: Content type indicator
        content:
          type: string
          description: FML source content to compile
          example: |
            map "PatientTransform" = "http://example.org/fml/PatientTransform"
            uses "http://hl7.org/fhir/StructureDefinition/Patient" as source
            uses "http://hl7.org/fhir/StructureDefinition/Patient" as target
            group Patient(source src, target tgt) {
              src.name -> tgt.name;
              src.birthDate -> tgt.birthDate;
            }
        options:
          $ref: '#/components/schemas/CompilationOptions'
        metadata:
          type: object
          properties:
            description:
              type: string
              description: Human-readable description of the StructureMap
            author:
              type: string
              description: Author information
            tags:
              type: array
              items:
                type: string
              description: Tags for categorization
            experimental:
              type: boolean
              default: false
              description: Whether this is experimental content

    StructureMapCreateResponse:
      type: object
      required:
        - id
        - url
        - status
        - createdAt
      properties:
        id:
          type: string
          description: Server-assigned StructureMap identifier
        url:
          type: string
          format: uri
          description: Canonical URL of the created StructureMap
        version:
          type: string
          description: Version of the created StructureMap
        status:
          type: string
          enum: [draft, active, retired, unknown]
          description: Status of the created StructureMap
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the StructureMap was created
        location:
          type: string
          format: uri
          description: Full URL to access the created StructureMap
        compilationInfo:
          type: object
          properties:
            wasCompiled:
              type: boolean
              description: Whether FML compilation was performed
            compilationTime:
              type: integer
              description: Compilation time in milliseconds
            warnings:
              type: array
              items:
                $ref: '#/components/schemas/ValidationWarning'
              description: Compilation warnings

    StructureMapUpdateResponse:
      type: object
      required:
        - id
        - url
        - status
        - updatedAt
      properties:
        id:
          type: string
          description: StructureMap identifier
        url:
          type: string
          format: uri
          description: Canonical URL of the updated StructureMap
        version:
          type: string
          description: Version of the updated StructureMap
        status:
          type: string
          enum: [draft, active, retired, unknown]
          description: Status of the updated StructureMap
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the StructureMap was last updated
        previousVersion:
          type: string
          description: Previous version before update
        compilationInfo:
          type: object
          properties:
            wasCompiled:
              type: boolean
              description: Whether FML compilation was performed
            compilationTime:
              type: integer
              description: Compilation time in milliseconds
            warnings:
              type: array
              items:
                $ref: '#/components/schemas/ValidationWarning'
              description: Compilation warnings
        changesSummary:
          type: object
          properties:
            structureChanges:
              type: boolean
              description: Whether structure definitions changed
            groupChanges:
              type: boolean
              description: Whether group definitions changed
            ruleChanges:
              type: boolean
              description: Whether transformation rules changed

    CompilationRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          description: FML content to compile
          example: |
            map "PatientTransform" = "http://example.org/fml/PatientTransform"
            uses "http://hl7.org/fhir/StructureDefinition/Patient" as source
            uses "http://hl7.org/fhir/StructureDefinition/Patient" as target
            group Patient(source src, target tgt) {
              src.name -> tgt.name;
            }
        options:
          $ref: '#/components/schemas/CompilationOptions'

    CompilationOptions:
      type: object
      properties:
        fhirVersion:
          type: string
          enum: [R4, R5]
          default: R4
          description: FHIR version for compilation
        strictMode:
          type: boolean
          default: false
          description: Enable strict validation mode
        includeDebugInfo:
          type: boolean
          default: false
          description: Include debug information in output
        optimizationLevel:
          type: string
          enum: [none, basic, aggressive]
          default: basic
          description: Optimization level for generated StructureMap

    ValidationRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          description: FML content to validate
        options:
          type: object
          properties:
            fhirVersion:
              type: string
              enum: [R4, R5]
              default: R4
            strictMode:
              type: boolean
              default: false

    ValidationResult:
      type: object
      required:
        - isValid
        - errors
        - warnings
      properties:
        isValid:
          type: boolean
          description: Whether the FML content is valid
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          description: List of validation errors
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/ValidationWarning'
          description: List of validation warnings

    ValidationError:
      type: object
      required:
        - type
        - message
      properties:
        type:
          type: string
          enum: [SYNTAX_ERROR, SEMANTIC_ERROR, REFERENCE_ERROR]
          description: Type of validation error
        message:
          type: string
          description: Human-readable error message
        line:
          type: integer
          minimum: 1
          description: Line number where error occurred
        column:
          type: integer
          minimum: 1
          description: Column number where error occurred
        context:
          type: string
          description: Additional context about the error

    ValidationWarning:
      type: object
      required:
        - type
        - message
      properties:
        type:
          type: string
          enum: [STYLE_WARNING, PERFORMANCE_WARNING, COMPATIBILITY_WARNING]
        message:
          type: string
        line:
          type: integer
          minimum: 1
        column:
          type: integer
          minimum: 1

    ExecutionRequest:
      type: object
      required:
        - structureMap
        - sourceData
      properties:
        structureMap:
          $ref: '#/components/schemas/StructureMap'
        sourceData:
          type: object
          description: Source data to transform
        context:
          $ref: '#/components/schemas/ExecutionContext'

    ExecutionByIdRequest:
      type: object
      required:
        - sourceData
      properties:
        sourceData:
          type: object
          description: Source data to transform
        context:
          $ref: '#/components/schemas/ExecutionContext'
        retrievalOptions:
          $ref: '#/components/schemas/RetrievalOptions'

    ExecutionContext:
      type: object
      properties:
        variables:
          type: object
          additionalProperties: true
          description: Context variables for transformation
        resolver:
          type: object
          description: Custom resource resolver configuration
        debugMode:
          type: boolean
          default: false
          description: Enable debug mode for execution

    ExecutionResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: object
          description: Transformed data result
        logs:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionLog'
          description: Execution logs
        performance:
          $ref: '#/components/schemas/PerformanceMetrics'

    ExecutionLog:
      type: object
      required:
        - level
        - message
        - timestamp
      properties:
        level:
          type: string
          enum: [DEBUG, INFO, WARN, ERROR]
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        context:
          type: object
          additionalProperties: true

    PerformanceMetrics:
      type: object
      properties:
        executionTime:
          type: integer
          description: Execution time in milliseconds
        memoryUsed:
          type: integer
          description: Memory used in bytes
        cacheHit:
          type: boolean
          description: Whether cache was hit for StructureMap
        transformationCount:
          type: integer
          description: Number of transformations performed

    RetrievalOptions:
      type: object
      properties:
        timeout:
          type: integer
          minimum: 1000
          maximum: 60000
          default: 30000
          description: Request timeout in milliseconds
        headers:
          type: object
          additionalProperties:
            type: string
          description: Custom headers for HTTP retrieval
        cache:
          type: boolean
          default: true
          description: Whether to use cache for retrieval

    StructureDefinition:
      type: object
      description: FHIR StructureDefinition resource for logical models and profiles
      required:
        - resourceType
        - url
        - name
        - status
        - kind
        - abstract
        - type
      properties:
        resourceType:
          type: string
          enum: [StructureDefinition]
        id:
          type: string
          format: fhir-id
        url:
          type: string
          format: fhir-canonical
        version:
          type: string
        name:
          type: string
          pattern: '^[A-Z]([A-Za-z0-9_]){0,254}$'
        title:
          type: string
        status:
          type: string
          enum: [draft, active, retired, unknown]
        experimental:
          type: boolean
        date:
          type: string
          format: date-time
        publisher:
          type: string
        contact:
          type: array
          items:
            $ref: '#/components/schemas/ContactDetail'
        description:
          type: string
        useContext:
          type: array
          items:
            $ref: '#/components/schemas/UsageContext'
        jurisdiction:
          type: array
          items:
            $ref: '#/components/schemas/CodeableConcept'
        purpose:
          type: string
        copyright:
          type: string
        keyword:
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        fhirVersion:
          type: string
        mapping:
          type: array
          items:
            $ref: '#/components/schemas/StructureDefinitionMapping'
        kind:
          type: string
          enum: [primitive-type, complex-type, resource, logical]
        abstract:
          type: boolean
        context:
          type: array
          items:
            $ref: '#/components/schemas/StructureDefinitionContext'
        contextInvariant:
          type: array
          items:
            type: string
        type:
          type: string
          format: fhir-uri
        baseDefinition:
          type: string
          format: fhir-canonical
        derivation:
          type: string
          enum: [specialization, constraint]
        snapshot:
          $ref: '#/components/schemas/StructureDefinitionSnapshot'
        differential:
          $ref: '#/components/schemas/StructureDefinitionDifferential'

    StructureDefinitionInfo:
      type: object
      required:
        - id
        - url
        - status
        - kind
        - source
      properties:
        id:
          type: string
          description: StructureDefinition identifier
        url:
          type: string
          format: uri
          description: Canonical URL
        name:
          type: string
          description: Human-readable name
        version:
          type: string
          description: Version string
        status:
          type: string
          enum: [draft, active, retired, unknown]
        kind:
          type: string
          enum: [primitive-type, complex-type, resource, logical]
        description:
          type: string
          description: Natural language description
        source:
          type: string
          enum: [directory, url, cache]
          description: Source where StructureDefinition was found
        lastModified:
          type: string
          format: date-time
          description: Last modification timestamp
        size:
          type: integer
          description: Size in bytes

    StructureDefinitionUploadRequest:
      type: object
      required:
        - type
        - content
      properties:
        type:
          type: string
          enum: [structureDefinition]
          description: Content type indicator
        content:
          $ref: '#/components/schemas/StructureDefinition'
        options:
          type: object
          properties:
            validate:
              type: boolean
              default: false
              description: Whether to validate the StructureDefinition
            strictMode:
              type: boolean
              default: false
              description: Enable strict validation mode
        metadata:
          type: object
          properties:
            description:
              type: string
              description: Human-readable description
            author:
              type: string
              description: Author information
            tags:
              type: array
              items:
                type: string
              description: Tags for categorization
            experimental:
              type: boolean
              default: false
              description: Whether this is experimental content

    StructureDefinitionCreateResponse:
      type: object
      required:
        - id
        - url
        - status
        - createdAt
      properties:
        id:
          type: string
          description: Server-assigned StructureDefinition identifier
        url:
          type: string
          format: uri
          description: Canonical URL of the created StructureDefinition
        version:
          type: string
          description: Version of the created StructureDefinition
        status:
          type: string
          enum: [draft, active, retired, unknown]
          description: Status of the created StructureDefinition
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the StructureDefinition was created
        location:
          type: string
          format: uri
          description: Full URL to access the created StructureDefinition
        validationInfo:
          type: object
          properties:
            wasValidated:
              type: boolean
              description: Whether validation was performed
            validationTime:
              type: integer
              description: Validation time in milliseconds
            warnings:
              type: array
              items:
                $ref: '#/components/schemas/ValidationWarning'
              description: Validation warnings

    StructureDefinitionUpdateResponse:
      type: object
      required:
        - id
        - url
        - status
        - updatedAt
      properties:
        id:
          type: string
          description: StructureDefinition identifier
        url:
          type: string
          format: uri
          description: Canonical URL of the updated StructureDefinition
        version:
          type: string
          description: Version of the updated StructureDefinition
        status:
          type: string
          enum: [draft, active, retired, unknown]
          description: Status of the updated StructureDefinition
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the StructureDefinition was last updated
        previousVersion:
          type: string
          description: Previous version before update
        validationInfo:
          type: object
          properties:
            wasValidated:
              type: boolean
              description: Whether validation was performed
            validationTime:
              type: integer
              description: Validation time in milliseconds
            warnings:
              type: array
              items:
                $ref: '#/components/schemas/ValidationWarning'
              description: Validation warnings
        changesSummary:
          type: object
          properties:
            elementChanges:
              type: boolean
              description: Whether element definitions changed
            typeChanges:
              type: boolean
              description: Whether type definitions changed
            constraintChanges:
              type: boolean
              description: Whether constraints changed

    StructureDefinitionWithMetadata:
      allOf:
        - $ref: '#/components/schemas/StructureDefinition'
        - type: object
          properties:
            metadata:
              type: object
              properties:
                source:
                  type: string
                  enum: [directory, url, cache]
                retrievedAt:
                  type: string
                  format: date-time
                validationStatus:
                  type: string
                  enum: [valid, invalid, not-validated]
                retrievalTime:
                  type: integer
                  description: Retrieval time in milliseconds

    ResourceValidationRequest:
      type: object
      required:
        - resource
        - structureDefinition
      properties:
        resource:
          type: object
          description: The FHIR resource or data to validate
        structureDefinition:
          type: string
          format: fhir-canonical
          description: URL of the StructureDefinition to validate against
        options:
          type: object
          properties:
            mode:
              type: string
              enum: [strict, non-strict]
              default: non-strict
              description: Validation mode
            validateReferences:
              type: boolean
              default: false
              description: Whether to validate resource references
            maxErrors:
              type: integer
              minimum: 1
              maximum: 100
              default: 10
              description: Maximum number of errors to return

    ResourceValidationResult:
      type: object
      required:
        - isValid
        - errors
        - warnings
        - validationMode
        - validatedAt
      properties:
        isValid:
          type: boolean
          description: Whether the resource is valid
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ResourceValidationError'
          description: List of validation errors
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/ResourceValidationWarning'
          description: List of validation warnings
        validationMode:
          type: string
          enum: [strict, non-strict]
          description: The validation mode used
        structureDefinition:
          type: string
          format: fhir-canonical
          description: URL of the StructureDefinition used for validation
        validatedAt:
          type: string
          format: date-time
          description: Timestamp when validation was performed

    ResourceValidationError:
      type: object
      required:
        - type
        - message
        - path
        - severity
      properties:
        type:
          type: string
          enum: [CARDINALITY_VIOLATION, REQUIRED_ELEMENT_MISSING, DATATYPE_MISMATCH, CONSTRAINT_VIOLATION, FIXED_VALUE_VIOLATION, PATTERN_VIOLATION, BINDING_VIOLATION]
          description: Type of validation error
        message:
          type: string
          description: Human-readable error message
        path:
          type: string
          description: FHIRPath to the element that failed validation
        severity:
          type: string
          enum: [error, warning]
          description: Severity level
        value:
          description: The value that caused the validation error
        expected:
          description: The expected value or constraint

    ResourceValidationWarning:
      type: object
      required:
        - type
        - message
        - path
        - severity
      properties:
        type:
          type: string
          enum: [OPTIONAL_ELEMENT_MISSING, STYLE_WARNING, PERFORMANCE_WARNING, COMPATIBILITY_WARNING]
        message:
          type: string
        path:
          type: string
        severity:
          type: string
          enum: [warning, info]

    ValidatedExecutionRequest:
      type: object
      required:
        - structureMap
        - sourceData
        - options
      properties:
        structureMap:
          $ref: '#/components/schemas/StructureMap'
        sourceData:
          type: object
          description: Source data to transform
        options:
          type: object
          required:
            - mode
          properties:
            mode:
              type: string
              enum: [strict, non-strict]
              description: Execution mode
            validateInput:
              type: boolean
              default: true
              description: Whether to validate input data
            validateOutput:
              type: boolean
              default: true
              description: Whether to validate output data
            inputStructureDefinition:
              type: string
              format: fhir-canonical
              description: StructureDefinition URL for input validation
            outputStructureDefinition:
              type: string
              format: fhir-canonical
              description: StructureDefinition URL for output validation
            stopOnError:
              type: boolean
              default: true
              description: Whether to stop execution on validation errors (strict mode only)
            maxErrors:
              type: integer
              minimum: 1
              maximum: 100
              default: 10
              description: Maximum number of errors to collect
        context:
          $ref: '#/components/schemas/ExecutionContext'

    ValidatedExecutionResponse:
      type: object
      required:
        - isSuccess
        - errors
        - warnings
      properties:
        result:
          type: object
          description: Transformed data result (null if execution failed)
        isSuccess:
          type: boolean
          description: Whether the execution was successful
        validationResult:
          type: object
          properties:
            input:
              $ref: '#/components/schemas/ResourceValidationResult'
            output:
              $ref: '#/components/schemas/ResourceValidationResult'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          description: Execution and validation errors
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/ValidationWarning'
          description: Execution and validation warnings
        logs:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionLog'
          description: Execution logs
        performance:
          $ref: '#/components/schemas/EnhancedPerformanceMetrics'

    EnhancedPerformanceMetrics:
      allOf:
        - $ref: '#/components/schemas/PerformanceMetrics'
        - type: object
          properties:
            validationTime:
              type: integer
              description: Total validation time in milliseconds

    ContactDetail:
      type: object
      properties:
        name:
          type: string
        telecom:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'

    ContactPoint:
      type: object
      properties:
        system:
          type: string
          enum: [phone, fax, email, pager, url, sms, other]
        value:
          type: string
        use:
          type: string
          enum: [home, work, temp, old, mobile]
        rank:
          type: integer
          minimum: 1
        period:
          $ref: '#/components/schemas/Period'

    Period:
      type: object
      properties:
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time

    UsageContext:
      type: object
      required:
        - code
      properties:
        code:
          $ref: '#/components/schemas/Coding'
        valueCodeableConcept:
          $ref: '#/components/schemas/CodeableConcept'
        valueQuantity:
          $ref: '#/components/schemas/Quantity'
        valueRange:
          $ref: '#/components/schemas/Range'
        valueReference:
          $ref: '#/components/schemas/Reference'

    CodeableConcept:
      type: object
      properties:
        coding:
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        text:
          type: string

    Coding:
      type: object
      properties:
        system:
          type: string
          format: uri
        version:
          type: string
        code:
          type: string
        display:
          type: string
        userSelected:
          type: boolean

    Quantity:
      type: object
      properties:
        value:
          type: number
        comparator:
          type: string
          enum: ['<', '<=', '>=', '>', 'ad']
        unit:
          type: string
        system:
          type: string
          format: uri
        code:
          type: string

    Range:
      type: object
      properties:
        low:
          $ref: '#/components/schemas/Quantity'
        high:
          $ref: '#/components/schemas/Quantity'

    Reference:
      type: object
      properties:
        reference:
          type: string
        type:
          type: string
          format: uri
        identifier:
          $ref: '#/components/schemas/Identifier'
        display:
          type: string

    Identifier:
      type: object
      properties:
        use:
          type: string
          enum: [usual, official, temp, secondary, old]
        type:
          $ref: '#/components/schemas/CodeableConcept'
        system:
          type: string
          format: uri
        value:
          type: string
        period:
          $ref: '#/components/schemas/Period'
        assigner:
          $ref: '#/components/schemas/Reference'

    StructureDefinitionMapping:
      type: object
      required:
        - identity
      properties:
        identity:
          type: string
          format: fhir-id
        uri:
          type: string
          format: uri
        name:
          type: string
        comment:
          type: string

    StructureDefinitionContext:
      type: object
      required:
        - type
        - expression
      properties:
        type:
          type: string
          enum: [fhirpath, element, extension]
        expression:
          type: string

    StructureDefinitionSnapshot:
      type: object
      required:
        - element
      properties:
        element:
          type: array
          items:
            $ref: '#/components/schemas/ElementDefinition'
          minItems: 1

    StructureDefinitionDifferential:
      type: object
      required:
        - element
      properties:
        element:
          type: array
          items:
            $ref: '#/components/schemas/ElementDefinition'
          minItems: 1

    ElementDefinition:
      type: object
      required:
        - path
      properties:
        id:
          type: string
        path:
          type: string
        sliceName:
          type: string
        sliceIsConstraining:
          type: boolean
        label:
          type: string
        code:
          type: array
          items:
            $ref: '#/components/schemas/Coding'
        short:
          type: string
        definition:
          type: string
        comment:
          type: string
        requirements:
          type: string
        alias:
          type: array
          items:
            type: string
        min:
          type: integer
          minimum: 0
        max:
          type: string
        type:
          type: array
          items:
            type: object
            required:
              - code
            properties:
              code:
                type: string
                format: fhir-uri
              profile:
                type: array
                items:
                  type: string
                  format: fhir-canonical
              targetProfile:
                type: array
                items:
                  type: string
                  format: fhir-canonical
        meaningWhenMissing:
          type: string
        fixedString:
          type: string
        fixedBoolean:
          type: boolean
        fixedInteger:
          type: integer
        fixedDecimal:
          type: number
        fixedUri:
          type: string
          format: uri
        fixedUrl:
          type: string
          format: uri
        fixedCode:
          type: string
        fixedDate:
          type: string
          format: date
        fixedDateTime:
          type: string
          format: date-time
        fixedTime:
          type: string
        fixedInstant:
          type: string
          format: date-time
        fixedCodeableConcept:
          $ref: '#/components/schemas/CodeableConcept'
        fixedCoding:
          $ref: '#/components/schemas/Coding'
        fixedQuantity:
          $ref: '#/components/schemas/Quantity'
        fixedPeriod:
          $ref: '#/components/schemas/Period'
        fixedRange:
          $ref: '#/components/schemas/Range'
        fixedReference:
          $ref: '#/components/schemas/Reference'
        mustSupport:
          type: boolean
        isModifier:
          type: boolean
        isModifierReason:
          type: string
        isSummary:
          type: boolean
        binding:
          type: object
          required:
            - strength
          properties:
            strength:
              type: string
              enum: [required, extensible, preferred, example]
            description:
              type: string
            valueSet:
              type: string
              format: fhir-canonical
        constraint:
          type: array
          items:
            type: object
            required:
              - key
              - severity
              - human
            properties:
              key:
                type: string
                format: fhir-id
              requirements:
                type: string
              severity:
                type: string
                enum: [error, warning]
              human:
                type: string
              expression:
                type: string
                format: fhirpath
              xpath:
                type: string
              source:
                type: string
                format: fhir-canonical

    StructureMap:
      type: object
      description: FHIR StructureMap resource
      required:
        - resourceType
        - url
        - status
      properties:
        resourceType:
          type: string
          enum: [StructureMap]
        id:
          type: string
        url:
          type: string
          format: uri
        version:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [draft, active, retired, unknown]
        structure:
          type: array
          items:
            type: object
        group:
          type: array
          items:
            type: object

    StructureMapInfo:
      type: object
      required:
        - id
        - url
        - status
        - source
      properties:
        id:
          type: string
          description: StructureMap identifier
        url:
          type: string
          format: uri
          description: Canonical URL
        name:
          type: string
          description: Human-readable name
        version:
          type: string
          description: Version string
        status:
          type: string
          enum: [draft, active, retired, unknown]
        source:
          type: string
          enum: [directory, url, cache]
          description: Source where StructureMap was found
        lastModified:
          type: string
          format: date-time
          description: Last modification timestamp
        size:
          type: integer
          description: Size in bytes

    StructureMapWithMetadata:
      allOf:
        - $ref: '#/components/schemas/StructureMap'
        - type: object
          properties:
            metadata:
              type: object
              properties:
                source:
                  type: string
                  enum: [directory, url, cache]
                retrievedAt:
                  type: string
                  format: date-time
                cacheHit:
                  type: boolean
                retrievalTime:
                  type: integer
                  description: Retrieval time in milliseconds

    PaginationInfo:
      type: object
      required:
        - total
        - limit
        - offset
        - hasMore
      properties:
        total:
          type: integer
          minimum: 0
          description: Total number of available items
        limit:
          type: integer
          minimum: 1
          description: Number of items per page
        offset:
          type: integer
          minimum: 0
          description: Number of items skipped
        hasMore:
          type: boolean
          description: Whether more items are available

    HealthStatus:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: [healthy, unhealthy, degraded]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        uptime:
          type: integer
          description: Uptime in seconds
        checks:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum: [pass, fail, warn]
              message:
                type: string

    ReadinessStatus:
      type: object
      required:
        - ready
        - timestamp
      properties:
        ready:
          type: boolean
        timestamp:
          type: string
          format: date-time
        checks:
          type: object
          additionalProperties:
            type: boolean

    LivenessStatus:
      type: object
      required:
        - alive
        - timestamp
      properties:
        alive:
          type: boolean
        timestamp:
          type: string
          format: date-time

    MetricsResponse:
      type: object
      properties:
        compilation:
          type: object
          properties:
            totalRequests:
              type: integer
            successfulCompilations:
              type: integer
            failedCompilations:
              type: integer
            averageCompilationTime:
              type: number
        execution:
          type: object
          properties:
            totalExecutions:
              type: integer
            successfulExecutions:
              type: integer
            failedExecutions:
              type: integer
            averageExecutionTime:
              type: number
        cache:
          type: object
          properties:
            hits:
              type: integer
              description: Number of cache hits
            misses:
              type: integer
              description: Number of cache misses
            hitRate:
              type: number
              minimum: 0
              maximum: 1
              description: Cache hit rate (0-1)



    ErrorResponse:
      type: object
      required:
        - error
        - message
        - timestamp
      properties:
        error:
          type: string
          description: Error type identifier
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          additionalProperties: true
          description: Additional error details
        timestamp:
          type: string
          format: date-time
        requestId:
          type: string
          description: Request correlation ID

    TransformRequest:
      type: object
      required:
        - resourceType
        - parameter
      properties:
        resourceType:
          type: string
          enum: [Parameters]
          description: FHIR Parameters resource type
        parameter:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                enum: [source, map]
              resource:
                type: object
                description: Source resource to transform (when name=source)
              valueUri:
                type: string
                description: StructureMap URL (when name=map)
          description: Input parameters for transformation
      example:
        resourceType: "Parameters"
        parameter:
          - name: "source"
            resource:
              resourceType: "Patient"
              name:
                - family: "Doe"
                  given: ["John"]
              birthDate: "1990-01-01"
          - name: "map"
            valueUri: "http://example.org/fml/PatientTransform"

    TransformResponse:
      type: object
      required:
        - resourceType
        - parameter
      properties:
        resourceType:
          type: string
          enum: [Parameters]
          description: FHIR Parameters resource type
        parameter:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                enum: [return]
              resource:
                type: object
                description: Transformed result resource
          description: Transformation result
      example:
        resourceType: "Parameters"
        parameter:
          - name: "return"
            resource:
              resourceType: "Patient"
              name:
                - family: "Doe"
                  given: ["John"]
              birthDate: "1990-01-01"

tags:
  - name: Compilation
    description: FML compilation operations
  - name: Execution
    description: StructureMap execution operations
  - name: Validation
    description: FML and FHIR resource validation operations
  - name: FHIR Operations
    description: Standard FHIR operations for StructureMap transformations
  - name: StructureMap Management
    description: StructureMap retrieval and management
  - name: StructureDefinition Management
    description: StructureDefinition (logical models, profiles) management and validation
  - name: Monitoring
    description: Health checks and metrics

externalDocs:
  description: FML Runner Documentation
  url: https://docs.fmlrunner.org